.sky {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url(../assets/stars.png) no-repeat;
  background-size: cover;
  background-position: center ;
}

.star {
  width: 100%;
  background: url(../assets/stars.png) no-repeat;
  width: 100%;
  height: 100%;
}

.cloud-small {
  background: url(../assets/cloud.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 2%;
  left: 2%;
  width: 200px;
  height: 200px;
  z-index: 1;
}

.moon {
  background: url(../assets/moon.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 5%;
  left: 26%;
  width: 200px;
  height: 200px;
  z-index: 0;
}

.cloud-big {
  background: url(../assets/cloud.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 2%;
  right: 2%;
  width: 350px;
  height: 350px;
  z-index: 1;
}

@media only screen and (max-width: 1080px) {
}
