@font-face {
  font-family: BillionDreams;
  src: url(../fonts/BillionDreams.ttf);
}

@font-face {
  font-family: PaperCutout;
  src: url(../fonts/PaperCutout.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.visual {
  position: relative;
  height: 60vh;
  min-height: 730px;
  background: radial-gradient(
    ellipse at center,
    #1583b8 0%,
    #1c64a6 35%,
    #252f84 100%
  );
}

.content {
  display: flex;
  flex-direction: column;
  /* position: absolute;
  top: 0; */
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.header {
  font-family: BillionDreams;
  width: 100%;
  height: 200px;
  z-index: 100;

  text-align: center;
  color: white;
  /* text-shadow: 2px 2px 2px #333333; */

  animation: textshadow 2s ease -0.45s infinite;

  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

@keyframes textshadow {
  0%,
  100% {
    text-shadow: 8px 8px 8px #333333;
  }
  50% {
    text-shadow: 2px 2px 2px #333333;
  }
}

.header-small {
  font-size: 70px;
  line-height: 0.2;
}

.header-big {
  font-size: 120px;
}

@media (min-width: 1080px) {
  .visual {
    height: calc(100vh - 10vh);
    min-height: 730px;
  }
  .header-small {
    font-size: 120px;
  }
  .header-big {
    font-size: 160px;
  }
}
