html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.visual {
  position: relative;
  height: 800px;
}

.detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#3eafd6, #00687f, #05346b);
}
